.dashboard-container {
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; */
    height: 100%;
    width: 100%;
    margin: 8px;
}

.dashboard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
}

.index{
height: 100%;
width: 33%;
/* border: 1px solid lightgreen; */
margin: 0;  
}

.index2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;
/* border: 1px solid lightgreen; */
    margin: 0;  
    color: rgb(97, 68, 15);
}

.index2>ul>li{
    padding: 8px;
    margin-bottom: 30px;
}
/* .index2>button{
    width: 50%;
} */

/* .index2>header{
    color: rgb(97, 68, 15);
} */

.profile {
    max-width: 33%;
    border: 1px solid lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .profile-wrapper is coming from dashboard.jsx and has a bunch of extra padding because of the way it is nested, tried to refactor but it looked awful */

.profile-wrapper {

}

.feed {
    height: 275px;
    width: 380px;
    border: 1px solid lightgreen;
    margin: 0;
}

.profile-pic {
    height: 35%;
    width: 35%;
    align-self: center;
    padding: 20px;
}

.lists {
display: flex;
justify-content: space-evenly;
flex-direction: row;
align-items: center;
text-align: center;
padding: 8px;
color: rgb(97, 68, 15);
}

.list-index>p{
    font-size: large;
}

.list-index ul li span{
    font-style: italic;
    font-size: 12px;
}

.list-index ul li i{
    padding-right: 10px;
}

.lists{
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.lists:hover {
    cursor: pointer;
}

.list-title:hover {
    color: green;
}
.list-index>ul{
    text-align: -webkit-center;
    margin: 8px;
    border: 1px solid lightgray;
    overflow: hidden;
    border-radius: 5px;
}
.list-index>ul>p{
    margin-bottom: 10px;
}

.list-index > ul > li{
    border: none;
    width: 95%;
    padding: 0 10px;
}

.list-index li:hover{
    background-color: rgb(236, 236, 236);
}