@import './lists.scss';

$brown: rgb(97, 68, 15);

.dashboard-container{
    height: 87vh;
}
.dashboard{
    margin: auto;
    display: flex;
    box-sizing: border-box;
    height: 100%;
    padding: 20px 0;
    
    h1{
        text-align: center;
        font-family: 'Sansita Swashed', cursive;
        font-size: 28px;
        color: $brown;
        margin: 10px 0;
    }
    .left{
        width: 30%;
        padding: 15px;
        border-right: 1px solid #eaeaea;
        display: flex;
        flex-direction: column;
        align-content: center;

        h1{
            margin-top: 0;
        }
    }

    .center{
        width: 40%;
        padding: 15px;
        border-right: 1px solid #eaeaea;
        display: flex;
        flex-direction: column;

        h1{
            margin-top: 0;
        }

        button{
            width: 25%;
            align-self: center;
            i{
                padding-right:10px;
            }
        }
    }

    .right{
        width: 30%;
        padding: 15px;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .profile{
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #eaeaea;

            img{
                height: 150px;
                width: 150px;
                margin-bottom: 15px;
            }

            p{
                margin: 5px 0;
            }

            p:first-of-type{
                font-size: 20px;
            }
        }

        .follower-wrapper{
            height: 100%;
            display: flex;
            flex-direction: column;
            ul{
                padding-top: 10px;
                height: 100%;
                overflow: auto;
                li{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    i{
                        padding-right: 10px;
                    }
                }
            }

            .search{
                align-self: center;
                i{
                    padding-right:10px;
                }
            }
        }
    }
}