
@font-face {
    font-family: bukhari;
    src: url('./fonts/BukhariScript-Regular.ttf')
}

@font-face {
    font-family: peddana;
    src: url('https://fonts.googleapis.com/css2?family=Peddana&family=Sansita+Swashed:wght@500&display=swap')
}

#root{
    height: 86vh;
}
#root>div{
    height: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2.5vw;
    text-decoration: none;
    margin: 0;
    height: 100%;
    background: url('../images/hiking.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.display {
    top: 10%;
    display: flex;
    justify-content: center;
    background-color: rgb(218, 248, 218, 0.7);
    width: 62%;
    height: fit-content;
    padding: 20px;
    z-index: 0.5;
    border-radius: 5px 100px 5px;
}

.logo {
    height: auto;
    width: 100%;
    border-radius: 50%;
    
}

.logo-and-li {
    display: flex;
}

.logo-container {
    padding-left: 11%;
    width: 30%;
}

.li-container {
    max-width: 60%;
    margin-left: 12%;
    line-height: 130%;
    color: rgb(97, 68, 15)
}

.li-container li {
    font-size: 75%;
}

.display ul {
    color: green;
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.display header {
    font-weight: 500;
    max-width: 90%;
    padding: 20px;
}
