
@font-face {
    font-family: bukhari;
    src: url('./fonts/BukhariScript-Regular.ttf')
}

@font-face {
    font-family: peddana;
    src: url('https://fonts.googleapis.com/css2?family=Peddana&family=Sansita+Swashed:wght@500&display=swap')
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-family: 'Sansita Swashed', cursive;
    font-size: 2.5vw;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    height: -webkit-fill-available;
    /* margin-bottom: -100px; */
}

.display {
    top: 10%;
    display: flex;
    position: absolute;
    background-color: rgb(218, 248, 218, 0.7);
    left: 20%;
    width: 62%;
    height: 50%;
    z-index: 0.5;
    border-radius: 5px 100px 5px;
}

.background {
    z-index: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    object-fit: none;
}



.logo {
    height: auto;
    width: 100%;
    border-radius: 50%;
    
}

.logo-and-li {
    display: flex;
}

.logo-container {
    padding-left: 2%;
    width: 30%;
}

.li-container {
    max-width: 60%;
    margin-left: 4%;
    line-height: 130%;
    color: rgb(97, 68, 15)
}

.display>ul {
    color: green;
    list-style-type:none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

.display>ul>li {
    text-align: left;
    padding-left: 20%;
    color: rgb(97, 68, 15);
    max-width: 75%;
}

.display header {
    max-width: 90%;
    padding-left: 2%;
}
