.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.display {
    top: 10%;
    display: flex;
    position: absolute;
    background-color: rgb(218, 248, 218, 0.8);
    left: 20%;
    width: 60%;
    height: 60%;
    z-index: 0.5;
    border-radius: 5px 100px 5px;
}

.background {
    z-index: 0;
    height: 100%;
    width: 100%;
}
.logo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
ul {
    color: green;
}

li {
    text-align: left;
    padding-top: 10px;
    padding-left: 20%;
    color: rgb(241, 183, 74);
}