.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}


.modal-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
} 

.modal-background .modal-list>h1{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(97, 68, 15);
  font-size: larger;
  font-weight: 600;
  padding-top: 7px;
  padding-bottom: 7px;
}

.modal-background>button {
  margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.button {
  padding: 11px;
    border: none;
    font-family: bukhari;
    background-color: rgba(48, 112, 5, 0.8);
    color: white;
    border-radius: 0 50% 50%;
    margin: 5px;
    outline: none;
  /* padding: 5px;
  border: none;
  font-family: bukhari;
  background-color: rgb(192, 245, 192, 0.8);
  color: rgb(178, 178, 236);
  border-radius:  0 50% 50%;
  margin: 5px;
  outline: none; */

}

.button:hover{

  text-decoration: underline;
}

/* .button input[type=submit]:hover {
  color: rgb(41,71,1);
} */

.form-name {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
position: absolute;
font-family: bukhari;
color: rgba(48, 112, 5, 0.8);
/* padding: 8px; */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.form-name input[type=text] {
    border: none;
    padding: 15px 0px 12px 17px;
}
.form-name input[type=text]:focus {
  outline: none;
}
.form-name input[type=password] {
    border: none;
    padding: 4px 0px 12px 17px;
}
.form-name input[type=password]:focus {
  outline: none;
}

.form-name input[type=submit]:hover {
  background-color: rgb(41,71,1);
}

.form-name-signup {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
position: absolute;
font-family: bukhari;
color: rgba(48, 112, 5, 0.8);
/* padding: 8px; */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.form-name-signup input {
    border: none;
    padding: 3px 0px 3px 5px;
    min-width: 200px
}
.form-name-signup input:focus {
  outline: none;
}

.form-name .title, .form-name-signup .title{
  color: white;
}

/* .form-name-signup input[type=password] {
    border: none;
        padding: 0px 0px 4px 2px;
}
.form-name-signup input[type=password]:focus {
  outline: none;
} */

.form-name-signup input[type=submit] {
  width: auto;
}

.form-name-signup button {
  width: 150px;
}

.form-name-signup input[type=submit]:hover {
  background-color: rgb(41,71,1);
}

.title {
  margin-top: 8px;
  margin-bottom: 8px;
  background: transparent;
  border: none;
  outline: none;
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
}

.list-index>ul>li{
  border: 1px solid lightgreen;
  width: 75%;
}

.errors{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

#rating {
    width: 10px;
    margin-right: 100px;
    outline: none;
}