.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-list .quill, .modal-review .quill{
  height: 100%;
  width: 95%;
  overflow: auto;
  padding: 0px 0px 0px 17px;
  max-height: 370px;
  min-height: 370px;
}

.modal-list .quill, .modal-review .quill p, ul, ol{
  color: rgb(97, 68, 15);
}


.modal-list, .modal-review {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 245, 245);
  border-radius: 10px 40px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
} 

.modal-review form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-review .star-wrapper{
  padding: 10px;
}

.modal-list>h1, .modal-review>h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 68, 15);
    font-size: 2.5vw;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-background>button {
  margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.button {
  padding: 11px;
    border: none;
    font-family: bukhari;
    background-color: rgba(48, 112, 5, 0.8);
    color: white;
    border-radius: 0 50% 50%;
    margin: 5px;
    outline: none;
  /* padding: 5px;
  border: none;
  font-family: bukhari;
  background-color: rgb(192, 245, 192, 0.8);
  color: rgb(178, 178, 236);
  border-radius:  0 50% 50%;
  margin: 5px;
  outline: none; */

}

.button:hover{

  text-decoration: underline;
}

/* .button input[type=submit]:hover {
  color: rgb(41,71,1);
} */

.form-name {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
position: absolute;
font-family: bukhari;
color: rgba(48, 112, 5, 0.8);
/* padding: 8px; */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.form-name input[type=text] {
    border: none;
    padding: 15px 0px 10px 17px;
    border-radius: 5px 5px 0px 0px;
}
.form-name input[type=text]:focus {
  outline: none;
}
.form-name input[type=password] {
    border: none;
    padding: 11px 0px 12px 17px;
    border-radius: 0px 0px 5px 5px;
}
.form-name input[type=password]:focus {
  outline: none;
}

.form-name input[type=submit]:hover {
  background-color: rgb(41,71,1);
}

.form-name-signup {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
position: absolute;
font-family: bukhari;
color: rgba(48, 112, 5, 0.8);
background: rgb(41,71,1);
border-radius: 5px 80px 80px;
background: linear-gradient(180deg, rgba(41,71,1,1) 20%, rgba(53,88,5,1) 50%, rgba(41,71,1,1) 80%);
/* padding: 8px; */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 350px;
}

.form-name-signup input {
    border: none;
    padding: 10px;
    min-width: 200px
}
.form-name-signup input:focus {
  outline: none;
}

.form-name .title, .form-name-signup .title{
  color: white;
    padding: 0px 0px 9px 0px;
}

/* .form-name-signup input[type=password] {
    border: none;
        padding: 0px 0px 4px 2px;
}
.form-name-signup input[type=password]:focus {
  outline: none;
} */

.form-name-signup input[type=submit] {
  width: auto;
}

.form-name-signup button {
  width: 150px;
}

.form-name-signup input[type=submit]:hover {
  background-color: rgb(41,71,1);
}

.title {
  margin-top: 8px;
  margin-bottom: 8px;
  background: transparent;
  border: none;
  outline: none;
  padding-top: 10px;
  font-size: 2.0vw;
  text-align: center;
}

.errors{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

#rating {
    width: 10px;
    margin-right: 100px;
    outline: none;
}

/* .ql-editor {
      height: 40vh;
} */

.login-form-buttons {
  padding-top: 9px;
}

#input-first {
  border-radius: 5px 5px 0px 0px;
  padding-top: 10px;
}

#input-last {
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 10px;
}

#signup-btn {
  margin: 13px 0px 14px 0px;
}