.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgb(192, 245, 192);
    font-family: bukhari;
}

.logo1 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 0.5;
    margin: 4px
}

.nav-components {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-title{
    font-size: large;
}
button {
    padding: 5px;
    border: none;
    font-family: bukhari;
    background-color: rgb(192, 245, 192);
    color: rgb(34, 34, 170);
}

button:hover{
    color: purple;
    text-decoration: underline;
}
.dropdown-content>a{
    padding-bottom: 8px
}
a {
    padding: 5px;
    text-decoration: none;
    
}
a:hover{
    color: purple;
    text-decoration: underline;
}

p {
    color: rgb(97, 68, 15);
}

.dropdown {
    position: relative;
    display: flex;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgreen;
    min-width: 100px;
    height: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px;
    top: 17px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover{
    border-top: 4px solid lightgreen;
    border-radius: 50%;
}

  