    
.review-idx-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    padding-bottom: 20px;
}    

.review-idx-item-wrapper > h2 {
    font-size: 18px;
    color: rgb(97, 68, 15);
    font-family: bukhari;
    padding: 0px 0px 0px 0px;
}    

.review-idx-item-wrapper p {
    font-size: 30px;
    color: rgb(97, 68, 15);
    font-family: bukhari;
    padding: 5px;
} 


.review-icon-wrapper {
    display: flex;
    padding: 10px 0px 30px 3px;
}
.review-icon-wrapper i {
    padding: 5px;
}

.img-uploader-wrapper {
    display: flex;
    flex-direction: column;
}

.img-uploader-wrapper input {
    border-radius: 5px;
    border: none;
    padding: 5px;
    max-width: 150px;
    margin-bottom: 10px;
}

.upload-form {
    display: flex;
    flex-direction: column;
}

.choose-btn {
    color: red;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-upload {
    display: flex;
}

.custom-upload h2 {
    font-size: 14px;
    padding-left: 14px;
    font-family: bukhari;
}

.btn-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.btn-wrapper i {
    padding-right: 10px;
}

.btn-wrapper button {
    padding-left: 10px;
    outline: none;
    border: none;
}

.star-wrapper {
    display: flex;
    padding: 6px 0px 0px 0px;
}

.star-wrapper p {
    padding: 0px 0px 0px 0px;
    margin: 4px 9px 0px 0px;
    font-size: 39px;
}

.star-wrapper i {
    color: rgba(48, 112, 5, 0.8);
}

.radio-wrapper {
    display: flex;
    justify-content: center;
    padding: 14px 0px 14px 0px;
}

.radio-wrapper h3 {
    font-size: 16px;
    color: rgb(41,71,1);
    padding: 0px 5px 0px 0px;
    margin: -2px 3px 0px 0px;
}

.radio-wrapper input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-wrapper input[type=radio] + img {
  cursor: pointer;
}

.radio-wrapper[type=radio]:checked + img {
  outline: 2px solid blue;
}

.radio-wrapper label {
    margin: 0px 7px 0px 3px;
}

