.trail-reviews li:hover{
    cursor: pointer;
    background-color: lightgray;
    transition: all 0.25s linear;
}  

.trail-reviews button{
    margin-bottom: 10px;
}

.review-idx-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    padding: 20px;
}    

.review-idx-item-wrapper > h2 {
    font-size: 18px;
    color: rgb(97, 68, 15);
    font-family: bukhari;
}    

.review-idx-item-wrapper p {
    font-size: 28px;
    color: rgb(97, 68, 15);
    font-family: bukhari;
    padding: 5px;
} 


.review-icon-wrapper {
    display: flex;
}
.review-icon-wrapper i {
    padding: 8px 0px 0px 15px;
    font-size: 20px;
}

.review-icon-wrapper h5 {
    color: black;
    font-family: 'Peddana', serif;
    font-size: 20px;
    padding: 5px 0px 0px 0px;
}

.img-uploader-wrapper {
    display: flex;
    flex-direction: column;
}

.img-uploader-wrapper input {
    border-radius: 5px;
    border: none;
    padding: 5px;
    max-width: 150px;
    margin-bottom: 10px;
}

.upload-form {
    display: flex;
    flex-direction: column;
}

.choose-btn {
    color: red;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.custom-upload {
    display: flex;
}

.custom-upload h2 {
    font-size: 14px;
    padding-left: 14px;
    font-family: bukhari;
}

.btn-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.btn-wrapper i {
    padding-right: 10px;
}

.btn-wrapper button {
    padding-left: 10px;
    outline: none;
    border: none;
}

.star-wrapper {
    display: flex;
    padding: 14px 0px 0px 0px;
}

.star-wrapper p {
    margin: -3px 6px 5px 0px;
    font-size: 28px;

}

.star-wrapper i {
    color: rgba(48, 112, 5, 0.8);
}

.radio-wrapper {
    display: flex;
    justify-content: center;
    padding: 14px 0px 14px 0px;
}

.radio-wrapper h3 {
    font-size: 24px;
    color: rgb(41,71,1);
    padding: 10px 11px 0px 0px;
    margin: -2px 3px 0px 0px;
}

.radio-wrapper input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-wrapper input[type=radio] + img {
  cursor: pointer;
  border: 2px solid #F5F5F5;
}

.radio-wrapper input[type=radio]:checked + img {
  border: 2px solid #5c7fc9;
  border-radius: 3px;
}

.radio-wrapper label {
    margin: 0px 7px 0px 3px;
}

.trail-reviews>div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.trail-reviews>div>button{
    width: 200px;
    align-self: center;
}

.trail-reviews ul{
    height: 100%;
}

.trail-reviews>div>h1{
    padding: 0;
    margin-bottom: 20px;
}

.trail-reviews {
    padding-left: 40px;
}