@import url('https://fonts.googleapis.com/css2?family=Peddana&family=Sansita+Swashed:wght@500&display=swap');
$brown: rgb(97, 68, 15);
$darkgreen: rgb(41,71,1);

.trail-index-item {
    img{
        height: 100px;
    }
    .img-container{
        height: 100px; 
        max-width: 200px;
        overflow: hidden;
    }
}

.trail-show{
    width: 80%;
    margin: auto;
    display: flex;
    p{
        color: black;
        padding: 0px;
        font-family: 'Peddana', serif;
        // font-size: 16px;
    }
    h1{
        text-align: center;
        font-size: 32px;
        padding: 21px 0px 35px 0px;
        font-family: 'Sansita Swashed', cursive;
        color: $brown;
    }
    .trail-info{
        width: 50%;
        overflow: hidden;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        h1{
            font-size: 30px;
            font-weight: bold;
        }
        .img-container{
            max-height: 300px;
            img{
                border-radius: 5px;
                width: 100%;
                box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.75);
            }
        }
        a {
            color: rgb(41,71,1);
            padding-top: 24px;
            font-size: 20px;
            font-family: 'Sansita Swashed', cursive;
        }
        .stats{
            margin: 20px auto;
            span{
                justify-content: space-between;
                align-items: baseline;
                padding: 10px;
                display: flex;
                font-size: 20px;
                min-width: 300px;
                font-family: arial;
                h3 {
                    font-size: 20px;
                    font-family: arial;
                }
                p{
                    font-size: 20px;
                    font-family: arial;
                }
            }
        }

        .summary{
            font-size: 30px;
            margin: 30px 0px 0px 0px;
            font-family: 'Sansita Swashed', cursive;
            color: $brown;
            a {
                color: red;
            }
        }

        .buttons{
            margin-top: 20px;
        }
    }
    .trail-reviews{
        padding-top: 100px;
        width: 50%;
    }
}

.title-and-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-background{
    display: flex;
    >div{
        margin: auto;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px;
        width: 330px;
        min-height: 240px;
        // background: rgb(64, 109, 4);
        background: rgb(41,71,1);
        background: linear-gradient(180deg, rgba(41,71,1,1) 20%, rgba(53,88,5,1) 50%, rgba(41,71,1,1) 80%);
        border-radius: 5px 80px 80px;
        border: 1px solid rgb(0, 63, 0);
        box-shadow: 0 0 10px rgb(0, 39, 0);
        .trail-index-item{
            margin: auto;
        }
        .img-container{
            margin: auto;
            img{
                border-radius: 10px;
            }
        }

        .summary{
            color: white;
            padding: 5px;
            font-family: arial;
        }
        .name{
            margin: 10px 0;
            font-size: 22px;
            font-weight: 500;
            color: white;
            font-family: bukhari;
        }
        button{
            margin-top: 10px;
            margin-right: 5px;
            margin-left: 5px;
            margin-bottom: 5px;
        }
    }
}