.stats {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%
}

.trail-show {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}

.trail-show>h1{
    font-size: large;
    padding: 2%;

}

.trail-index-item{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}